.ArticlePatternPanel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ArticlePatternPanel__label {
  display: inline-flex;
  align-items: center;
}

.ArticlePatternPanel__hint {
  margin: 0;
}
